/* styles for bigger screens */

@media (min-width: 641px) {

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .navigation a {
        padding: 0.75rem 1.5rem;
    }

    .logo-box .site-name {
        font-size: 1.3rem;
    }

    /* directory */
    .members.grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .members.list section {
        grid-template-columns: 2fr 3fr 1.5fr 2fr;
        align-items: center;
    }
}

@media (min-width: 1025px) {

    .members.grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
